<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="col-12">                
                    <h1 class="heading-title" style="align-content: center;">AWB Label Generator</h1>
                </div>
                <div class="row">
                    <div class="col-6">
                        <form [formGroup]="labelForm" class="form-container">
                            <h3>Shipment Details</h3>
                            <hr>
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-12">
                                    <mat-label>Airline</mat-label>
                                    <input type="text" matInput class="form-control form-control-sm" [matAutocomplete]="autoAirline" formControlName="airline" required placeholder="Select Airline" >
                                    <mat-autocomplete #autoAirline="matAutocomplete" (optionSelected)="getPrefix($event.option.value)">
                                        <mat-option *ngFor="let option of filteredAirlines$ | async" [value]="option.airline">
                                            {{ option.airline }} ({{ option.iata }})
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> </mat-error>
                                </div>   
                            </div>            
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label>Origin</mat-label>
                                    <input type="text" matInput class="form-control form-control-sm" [matAutocomplete]="autoOrigin" formControlName="origin" required placeholder="Select Origin Airport">
                                    <mat-autocomplete #autoOrigin="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOrigins$ | async" [value]="option.iata">
                                            {{ option.city }} - {{ option.name }} ({{ option.iata }})
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> </mat-error>
                                </div>   
                                <div class="col-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <mat-label>Destination</mat-label>
                                    <input type="text" matInput class="form-control form-control-sm" [matAutocomplete]="autoDestination" formControlName="destination" required placeholder="Select Destination Airport">
                                    <mat-autocomplete #autoDestination="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredDestinations$ | async" [value]="option.iata">
                                            {{ option.city }} - {{ option.name }} ({{ option.iata }})
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> </mat-error>
                                </div>   
                            </div>  
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label>Pieces</mat-label>
                                    <input matInput class="form-control form-control-sm" type="number" formControlName="numPieces" required placeholder="Number of Pieces">
                                    <mat-error> </mat-error>
                                </div>   
                                <div class="col-6">
                                    <mat-label>Weight (kg)</mat-label>
                                    <input matInput class="form-control form-control-sm" type="number" formControlName="totalWeight" required placeholder="Total Weight (kg)">                                    
                                    <mat-error> </mat-error>
                                </div>   
                            </div>    
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label>Via (1)</mat-label>
                                    <input type="text" matInput class="form-control form-control-sm" [matAutocomplete]="autoVia1" formControlName="transit1" placeholder="First Transit Airport (Optional)">
                                    <mat-autocomplete #autoVia1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredTransit1$ | async" [value]="option.iata">
                                            {{ option.city }} - {{ option.name }} ({{ option.iata }})
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> </mat-error>
                                </div>   
                                <div class="col-6">
                                    <mat-label>Via (2)</mat-label>
                                    <input type="text" matInput class="form-control form-control-sm" [matAutocomplete]="autoVia2" formControlName="transit2" placeholder="Second Transit Airport (Optional)">
                                    <mat-autocomplete #autoVia2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredTransit2$ | async" [value]="option.iata">
                                            {{ option.city }} - {{ option.name }} ({{ option.iata }})
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> </mat-error>
                                </div>   
                            </div>  
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label>Additional Informations</mat-label>
                                    <textarea matInput class="form-control form-control-sm" formControlName="additionalInfo" placeholder="Description of Goods or Additional Info"></textarea>
                                    <mat-error> </mat-error>
                                </div>   
                                <div class="col-6">
                                    <mat-label>Special Instructions</mat-label>
                                    <textarea matInput class="form-control form-control-sm" formControlName="specialInstructions" placeholder="Any Special Handling Instructions will be appended to Additional Info"></textarea>
                                    <mat-error> </mat-error>
                                </div>   
                            </div>    
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label required><b>AWB Suffix No</b></mat-label>
                                    <input matInput class="form-control form-control-sm" formControlName="awbSuffix" required placeholder="e.g., 12345678">
                                </div> 
                                <div class="col-6">
                                    <mat-label required><b>HAWB No</b></mat-label>
                                    <input matInput class="form-control form-control-sm" formControlName="hawb">
                                </div>   
                                <mat-error>Select an Airline to get AWB Prefix then enter Suffix</mat-error>
                            </div>    
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-label>Email</mat-label>
                                    <input matInput class="form-control form-control-sm" formControlName="email" readonly>
                                    <mat-error> </mat-error>
                                </div>   
                                <div class="col-6">
                                    <mat-label>Website</mat-label>
                                    <input matInput class="form-control form-control-sm" formControlName="website" readonly>
                                    <mat-error> </mat-error>
                                </div>   
                            </div> 
                            <!--<div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="col-6">
                                    <mat-slide-toggle formControlName="includeBarcode">Include Barcode</mat-slide-toggle>
                                </div>
                            </div>-->
                            <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                                <div class="col-10">
                                    <button class="btn btn-warning btn-block d-flex align-items-center justify-content-center" style="width: 100%;" (click)="showLabelPreview()">
                                        <mat-icon class="me-2">receipt</mat-icon>
                                        Generate Label
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger btn-block d-flex align-items-center justify-content-center" style="width: 100%;" (click)="clearForm()">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6" *ngIf="showPreview">    
                        <mat-card class="bg-secondary">
                            <mat-card-content>
                                <h3>Label Preview</h3>  
                                <hr>
                                <div class="label-preview">
                                    <div class="label-box">
                                        <div class="label-section">
                                            Airline<br>
                                            <strong>{{ labelForm.value.airline }}</strong>
                                            <div class="label-barcode">
                                                <svg id="barcode"></svg>
                                            </div>
                                            <div class="label-section">
                                                Air Waybill No.<br />
                                                <strong>{{ generateAWB() }}</strong>
                                            </div>
                                            <div class="label-grid">
                                                <div>
                                                    Destination<br />
                                                    <strong>{{ labelForm.value.destination }}</strong>
                                                </div>
                                                <div>
                                                    Total No. of Pieces<br />
                                                    <strong>{{ labelForm.value.numPieces }}</strong>
                                                </div>
                                            </div>
                                            <div class="label-grid">
                                                <div>
                                                    Weight of Consignment<br />
                                                    <strong>{{ labelForm.value.totalWeight }} K</strong>
                                                </div>
                                                <div>
                                                    Origin<br />
                                                    <strong>{{ labelForm.value.origin }}</strong>
                                                </div>
                                            </div>
                                            <div class="label-grid">
                                                <div>
                                                    Via(1)<br />
                                                    <strong>{{ labelForm.value.transit1 }}</strong>
                                                </div>
                                                <div>
                                                    Via(2)<br />
                                                    <strong>{{ labelForm.value.transit2 }}</strong>
                                                </div>                                        
                                            </div>
                                            <div class="label-section">
                                                Additional Information<br />
                                                <strong>{{ labelForm.value.additionalInfo }} {{ labelForm.value.specialInstructions }}</strong>
                                            </div>
                                            <div class="label-section">
                                                Piece No.<br />
                                                <strong> 1 / {{ labelForm.value.numPieces }}</strong>
                                            </div>
                                            <div class="label-section">
                                                <strong>HAWB No.</strong><br />
                                                <strong>{{ labelForm.value.hawb }}</strong>
                                                <div class="label-barcode">
                                                    <svg id="hawbBarcode"></svg>
                                                </div>
                                            </div>
                                            <div class="label-footer">
                                                Email: {{ labelForm.value.email }} &nbsp; | &nbsp; Website: {{ labelForm.value.website }}
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-12" style="padding-top: 5px; padding-bottom: 5px;">
                                    <button class="btn btn-info btn-block" style="width: 100%;"(click)="printLabel()" >Print Label</button>
                                </div>
                                <div class="row" *ngIf="zplGenerated">
                                    <div class="col-3">
                                        <button class="btn btn-success btn-block" style="width: 100%;" (click)="downloadZPL()">Download ZPL File</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-primary btn-block" style="width: 100%;" (click)="sendToPrinter()">Send to IP Printer</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-secondary btn-block" style="width: 100%;" (click)="printZPL()">Print Label</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-warning btn-block" style="width: 100%;" (click)="generatePDF()">Print PDF</button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div> 
            </div>
        </div>
    </div>   
</div>
<br>
